h1, h2, h3, h4, .w3-button {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;  
  color: #eb5013;
}

.w3-button {
  color: #eb5013 !important;
}

.w3-button:hover {
  background-color: #eb5013 !important;
}

.w3-button.w3-red {
  color: #fff !important;
}

.w3-button.w3-red:hover {
  color: #2d2d30 !important;
}

.mySlides {
  text-shadow: 2px 2px #2d2d30;
}

.mySlides h3 {
  color: #eb5013;
}

.mySlides p {
  color: #fff;
}

#tour, .w3-teal, .w3-hover-teal:hover {
  background: #2d2d30 !important;
  color: #bdbdbd !important;
}

.minavbar {
  font-family: 'Orbitron', sans-serif;
  color:#eb5013 !important;
}

.minavbar a {
  color:#eb5013 !important;
}

.minavbar a:hover {
  background-color: #eb5013 !important;
}

.image-circle {
  border-radius: 50%;
}

.band-image {
  border: 5px solid #eb5013;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 1;
}

footer.w3-container {
  background-color: #eb5013 !important;
  opacity: 0.9;
}